*{
	margin:0;
	padding:0;
}

html{
	
}

body{
	font-family:'Open Sans', sans-serif;
	font-size:1em;
}

.clear{
	clear:both;	
}

nav{
	background-color:#FFF;
	height:100%;
	width:25%;
	box-shadow:#666;
	border-right: 1px solid #CCC;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position:fixed;
	z-index:9000;
}

nav ul{
	list-style:none;
}

nav ul a{
	text-decoration:none;
}

nav ul li{
	color:#FFFFFF;
	text-align:center;
	background-color:#87C454;
	cursor:pointer;
	padding:10px;
	margin-bottom:1px;
}

nav ul li:hover{
	background-color:#390;
}

.navActive{
	background-color:#390;
}

.logo{
	cursor:pointer;
	width:90%;
	padding:5% 0 5% 5%;
}

#content{
	position:absolute;
	left:25%;
	width:75%;
}

/* HOME */
#homeContent{
	height:100VH;
	padding:5px;
	background-image:url(../imgs/dentist.jpg);
	background-position:fixed;
	background-size:cover;
	background-repeat:no-repeat;
}

#line{
	border-top:4px solid #FFF;
	height:16px;
	width:200px;
}

#homeInfoTop{
	color:#FFF;
	background-color:#87C454;
	position:absolute;
	right:0;
	top:30%;
	padding:30px;
}

#bottomLogo{
	float:right;
	width:200px;
	padding-top:20px;
}

#homeInfoBottom{
	font-size:0.7em;
	background-color:#FFF;
	position:absolute;
	bottom:0;
	right:0;
	padding:30px;
}

#hours{
	float:left;
	padding-right:30px;
}

#location{
	float:right;
}

h3{
	border-top:4px solid #87C454;
	padding-top:10px;
}

/* CONTACT */
#greenLine{
	width:100px;
	height:4px;
	background-color:#87C454;
}

#upperContentWrapper{
	text-align:center;
}

#contactTop{
	background-color:#CCC;
}

#triangle{
	display:inline-block;
	border:1.5em solid transparent;
	border-top:1.5em solid #CCC;
}

#map_canvas{
	width:100%;
	height:500px;
	background-color: #CCC;
}